@model Exam_Info.Models.Tbl_Code_Master
@{
    ViewBag.Title = "Division_Inspection";
    Layout = "~/Views/Shared/Division_LayoutPage.cshtml";
}




<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    #btn_submit {
        width: 200px;
        padding: 5px;
        position: absolute;
        right: 20px;
    }
</style>


<div class="row">
    <div class="col-sm-6">
        <h2>Division Inspection</h2>
    </div>
    <div class="col-sm-6">
        <input type="button" class="btn btn-success" id="btn_Excel" value="Download Excel" onclick="return confirm('Do you want to download ?')"><br />
    </div>
</div>

<div class="row" style="border:inset 2px  #3eadcf"></div>
<br />
<div class="table-responsive pt-3  ">
    <div class="row">

        <div class="col-sm-4">
            <label for="Division_List">Select District</label><span style="color:Red">*</span>

            @Html.DropDownListFor(model => model.district_name, ViewBag.DistrictList as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.district_name, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-4">
            <label for="Taluka_Code">Select Taluka</label><span style="color:Red">*</span>
            @Html.DropDownListFor(model => model.taluka_name, new SelectList(string.Empty, "Value", "Text"), "--Select Taluka--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.taluka_name, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="col-sm-4">
            <label></label><br />
            <input type="submit" value="Submit" id="btn_sub" class="btn btn-success" />

        </div>
    </div>
    <br />

    <center>
        <table class="AppFormTable " id="div_insp" style="background-color: #e7fafe;">
        </table>
    </center>
</div>


<script>
    $(document).ready(function () {

    $("#district_name").change(function () {

        $("#taluka_name").empty();
        $.ajax({
            type: 'POST',
            url: '../District/Get_Taluka',
            dataType: 'json',
            data: {
                distCode: $("#district_name").val()
            },
            success: function (Data) {
                for (var item in Data) {
                    $("#taluka_name").append('<option value="' + Data[item].Value + '">' + Data[item].Text + '</option>');
                }
            },
            error: function (ex) {
                alert('Failed.' + ex);
            }
        });
        return false;
    });


    $("#btn_sub").click(function () {
        debugger

        $.ajax({
            type: 'POST',
            url: '../Division/Division_Inspection',
            dataType: 'json',
            data: {
                district: $("#district_name").val(),
                taluka: $("#taluka_name").val()
            },
            beforeSend: function () {
                Showloader();
            },
            complete: function () {
                Hideloader();
            },
            success: function (data) {

                if (data.Result) {
                    $("#div_insp").empty();

                    Bind_Table(data.Response, "div_insp")
                }
                else {
                    Error_Alert(data.Message);
                }
            },
            error: function (ex) {
                alert('Failed.' + ex);
            }
        });
    });



        $("#btn_sub").click(function () {

            Get_Inspection_Record("0");

        });
        $("#btn_Excel").click(function () {

            Get_Inspection_Record("1");

        });



    });


    function Get_Inspection_Record(Excel) {
        $.ajax({
            type: 'POST',
            url: '../Division/Division_Inspection',
            dataType: 'json',
            data: {
                district: $("#district_name").val(),
                taluka: $("#taluka_name").val(),
                Excel: Excel
            },
            beforeSend: function () {
                Showloader();
            },
            complete: function () {
                Hideloader();
            },
            success: function (data) {

                if (data.Result) {
                    $("#div_insp").empty();

                    var list2 = JSON.parse(JSON.stringify(data.Response));
                    for (i in list2) {
                        delete list2[i].ID;
                        delete list2[i].Active;
                       

                        var aa = list2[i].Date_Time;
                        var JavaScriptDate = new Date(parseInt(aa.substr(6)));
                        var dateObject = new Date(JavaScriptDate);
                        var daate = dateObject.getDate();
                        var Month = dateObject.getMonth() + 1;
                        var year = dateObject.getFullYear();
                        list2[i].Date_Time = daate + "/" + Month + "/" + year;
                    }


                    Bind_Table(list2, "div_insp");
                    if (Excel == "1") {
                        window.location.href = "../State/" + data.FileName + ".xlsx";
                    }

                    
                }
                else {
                    Error_Alert(data.Message);
                }
            },
            error: function (ex) {
                alert('Failed.' + ex);
            }
        });
    }
</script>
